.world {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	perspective: 1000px;
}

.stage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transform-style: preserve-3d;
}

.house {
	position: relative;
	width: 100vw;
	height: 100vh;
	transform-style: preserve-3d;
	transform: translateZ(-500vw);
}

.house__wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.house__contents {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 5em;
}

.house__wall--left {
	width: 1000vw;
	transform: rotateY(90deg) translateZ(-500vw);
}

.house__wall--right {
	width: 1000vw;
	transform: rotateY(90deg) translateZ(-400vw);
}

.house__wall--front-a {
	transform: translateZ(450vw);
}

.house__wall--front-b {
	transform: translateZ(250vw);
}

.house__wall--front-c {
	transform: translateZ(-100vw);
}

.house__wall--front-d {
	transform: translateZ(-450vw);
}

.progress {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 5px;
	background: #555;
}

.progress__bar {
	width: 0%;
	height: 100%;
	background: #00afff;
}
